body{
  display: flex;
  justify-content: flex-start;
  background: #eee;
}

.wrap{
  width: 300px;
  min-height: 10px;
  background: #fff;

  box-sizing: border-box;
  padding: 30px;
}

.user_item{
  display: flex;
  justify-content: space-between;
}

.user_item.arrived{
  color: red;
  text-decoration: line-through;
}
