.nav-links {
  display: flex;
  list-style: none;
}
.list-content {
  display: flex;
}
.list-item {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  border: 1px solid lightgrey;
}
.nav-links li a {
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid lightseagreen;
  border-radius: 4px;
  margin: 10px;
  color: lightseagreen;
}
.nav-links li a.active,
.nav-links li a:hover {
  background: lightseagreen;
  color: black;
}