.nav-links {
  display: flex;
  list-style: none;
}
.list-content {
  display: flex;
}
.list-item {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  border: 1px solid lightgrey;
}
.nav-links li a {
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid lightseagreen;
  border-radius: 4px;
  margin: 10px;
  color: lightseagreen;
}
.nav-links li a.active,
.nav-links li a:hover {
  background: lightseagreen;
  color: black;
}
.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.togglerContainer{
  display: flex;
}
.togglerContainer>.togglerItem:first-child{
  border-radius: 5px 0 0 5px;
}
.togglerContainer>.togglerItem:last-child{
  border-radius: 0 5px 5px 0;
}
.togglerItem{
  padding: 5px 20px;
  box-sizing: border-box;
  background: #eee;
}
.togglerItem.active{
  background: #ffcc00;
}
